<form class="form-horizontal" ng-submit="submit()">
    <fieldset>
        <!-- Form Name -->
        <legend>Contact</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Your Name</label>
            <div class="col-md-4">
                <input ng-model="userDetails.name" name="name" type="text" placeholder="Enter Your Name" class="form-control input-md" required="">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Your Email</label>
            <div class="col-md-4">
                <input ng-model="userDetails.email" name="email" type="text" placeholder="Enter Your Email Address" class="form-control input-md">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mobile">Mobile</label>
            <div class="col-md-4">
                <input ng-model="userDetails.mobile" name="mobile" type="text" placeholder="Optional" class="form-control input-md">
                <span class="help-block">Enter Mobile/Landline with Extension</span>
            </div>
        </div>
        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectmultiple">Interested In</label>
            <div class="col-md-4">
                <select ng-model="userDetails.videos" name="selectmultiple" class="form-control" multiple="multiple">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="message">Message</label>
            <div class="col-md-4">
                <input ng-model="userDetails.message" name="message" type="text" placeholder="optional" class="form-control input-md">
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
