<style>
.jumbotron {
    background-image: url(http://i.stack.imgur.com/spmUM.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container {
    padding-top: 20px;
    background-color: #B8E1FF;
}
</style>
<div class="home-container">
    <div class="jumbotron" style="margin-top:-20px;height:{{jumbo.height - 50}}px;">
        <div class="jumbo-text col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4">
            <h1>FlyWorks Media</h1>
            <p>An eye for excellence and a value for innovation</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Videos Products</h3>
                <div ui-view="products"></div>
            </div>
        </div>
    </div>
    <div class="contact-container">
        <div ui-view="contact"></div>
    </div>
</div>
