<style>
  .jumbotron{
      background-image: url(http://i.stack.imgur.com/spmUM.gif);
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>

<div class="home-container">
  <div class="jumbotron" style="margin-top:-20px;height:{{jumbo.height - 50}}px;">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container">
  <div class="row">
    {{test}}
  </div>
</div>

<div ng-include="contact.html"></div>

</div>